Negocio/Service References/PianoWSClient/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IniciarSesionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarSesion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinalizarSesionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicarNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nota" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nota" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>