Negocio/Service References/PianoWSClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicio_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IServicio_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_FinalizarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalizarSesion" />
  </wsdl:message>
  <wsdl:message name="IServicio_FinalizarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalizarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_PublicarNota_InputMessage">
    <wsdl:part name="parameters" element="tns:PublicarNota" />
  </wsdl:message>
  <wsdl:message name="IServicio_EjecutarNota_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EjecutarNota" />
  </wsdl:message>
  <wsdl:portType name="IServicio">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/IniciarSesion" message="tns:IServicio_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/IniciarSesionResponse" message="tns:IServicio_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalizarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/FinalizarSesion" message="tns:IServicio_FinalizarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/FinalizarSesionResponse" message="tns:IServicio_FinalizarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublicarNota">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/PublicarNota" message="tns:IServicio_PublicarNota_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarNota">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/EjecutarNota" message="tns:IServicio_EjecutarNota_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServicio" type="tns:IServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicio_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IServicio/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizarSesion">
      <soap12:operation soapAction="http://tempuri.org/IServicio/FinalizarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublicarNota">
      <soap12:operation soapAction="http://tempuri.org/IServicio/PublicarNota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EjecutarNota">
      <soap12:operation soapAction="http://tempuri.org/IServicio/EjecutarNota" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="NetTcpBinding_IServicio" binding="tns:NetTcpBinding_IServicio">
      <soap12:address location="net.tcp://localhost:4502/Servicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4502/Servicio</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>